:root {
  --color-principal: #2563eb;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 70px;
  background: #121212;
  z-index: 1000;

  display: flex;
  align-items: center;
  padding: 0 20px;
}

header input {
  width: 350px;
  padding: 12px 20px;

  border-radius: 999px;   /* totalmente redondo */
  border: none;

  background: #242424;
  color: white;

  transition: 0.2s;
}

header input::placeholder {
  color: #b3b3b3;
}

header input:focus {
  background: #2a2a2a;
  box-shadow: 0 0 0 2px var(--color-principal);
}

.search {
    width: 380px;
    height: 44px;
    padding: 0 20px;
    border-radius: 999px;
    border: none;
    background: #242424;
    color: white;
    font-size: 15px;
    outline: none;
    transition: all 0.2s ease;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    display: flex;
}

.sidebar {
    position: fixed;
    top:70px;
    left: 0;
    width: 230px;
    background: black;
    height: 100vh;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: #b3b3b3;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: bold;
    transition: 0.2s;

}

.sidebar a:hover {
    color: white;
    background: var(--color-principal) ;
    border-radius: 10px;
    padding: 12px 18px;
}

.main {
    margin-top: 70px;     /* espacio del header */
    margin-left: 260px;   /* espacio del sidebar */

    padding: 25px;
    background: linear-gradient(#1f1f1f, #121212);

    min-height: 200vh;    /* solo para probar scroll */
    flex: 1;
    padding: 25px;
    background: linear-gradient(#1f1f1f, #121212);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    background: #181818;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.card img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;
}

.card:hover {
     background: #282828;
     transform: translateY(-5px);

}

.play-card {
  position: relative;

  bottom: 10px;
  right: 10px;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  border: none;

  background: var(--color-principal);
  color: white;

  font-size: 18px;
  cursor: pointer;

  opacity: 0;
  transform: translateY(10px);

  transition: 0.3s;
}



.card:hover .play-card {
  opacity: 1;
  transform: translateY(0);
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 90px;

  background: #181818;
  border-top: 1px solid #282828;

  display: flex;
  align-items: center;

  padding: 0 20px;

}

.controls{
     display: flex;
  justify-content: center;
  gap: 15px; 
}

.controls button {
  width: 45px;
  height: 45px;

  border-radius: 50%;
  border: none;

  background: var(--color-principal);
  color: white;

  font-size: 18px;
  cursor: pointer;

}

.right{
    flex: 1;
}

#Inicio_Sesion{
    width: 200px;
    height: 44px;

    padding: 0 20px;

    border-radius: 999px;
    border: none;

    background: var(--color-principal);
    color: white;

    font-size: 15px;

    outline: none;

    transition: all 0.2s ease;
    cursor: pointer;

}
#Inicio_Sesion{
position: absolute;
right: 0;
}

@media (max-width: 768px) {

  .sidebar {
    width: 70px;
    padding: 10px;
  }

  .sidebar h2 {
    display: none;
  }

   main {
    margin-left: 70px;
  }

   .grid {
    grid-template-columns: repeat(2, 1fr);
  }

   header input {
    width: 120px;
  }

   .player {
    height: 70px;
  }
}